### Operations on numbers:

In [1]:
## Normal arithmetic operations: +, -, *, /

7/3

2.3333333333333335

In [2]:
## Quotient '//'

9//5

1

In [3]:
## Remainder '%'

9%5

4

In [4]:
## Exponential (**)

3**2

9

In [5]:
from math import *

In [6]:
log(2)

0.6931471805599453

In [7]:
sqrt(25)

5.0

In [8]:
sin(45)

0.8509035245341184

In [9]:
sin(0)

0.0

In [10]:
sin(1)

0.8414709848078965

## Strings

In [11]:
a="hello"
a

'hello'

In [12]:
type(a)

str

In [13]:
b=''' This is first line
This is second line
This is third line '''

b

' This is first line\nThis is second line\nThis is third line '

In [14]:
a

'hello'

In [15]:
a[0] # gives the first character in string but type is string.

'h'

In [16]:
a[-1] # gives the last character in string but type is string.

'o'

In [17]:
a[-2]

'l'

### Operations on string

In [18]:
## 1. Concatenation

a="hello"
b="User"
a+b

'helloUser'

In [19]:
b=" User"
a+b

'hello User'

In [20]:
len(a)

5

In [21]:
## Slice: Extracting substring

a[1:4]

'ell'

In [22]:
a[:]

'hello'

In [23]:
a[0:7]

'hello'

In [24]:
### Modifying string:

a[3]='p'

TypeError: 'str' object does not support item assignment

In [25]:
## therefore we use slice and concatenation for string modification:

a=a[0:3]+"p!"
a

'help!'

## List

In [26]:
list1=[1,2,3,4]
list2=["A","B","C"]
list3=[1,"Hello"]

In [27]:
list1[2]

3

In [28]:
type(list1[2])

int

In [29]:
list1[0:1]

[1]

In [30]:
type(list1[0:1]) # Bcs slice gives a new list as output

list

### Mutable Vs Unmutable

In [31]:
## work with immutable types: int, bool, flost, string

x=5
y=x
x=7
print(x,y)

7 5

In [33]:
## working with mutable type; Lists

lst1=[1,3,5,7]
lst2=lst1
lst1[2]=4
print(lst1)
print(lst2)

[1, 3, 4, 7]
[1, 3, 4, 7]

In [34]:
lst1=[1,3,5,7]
lst2=[1,3,5,7]
lst3=lst2

print(lst1==lst2)
print(lst2==lst3)
print(lst1 is lst2)
print(lst2 is lst3)

True
True
False
True

In [35]:
lst3=lst1+lst2
lst3 # Concatenation always gives a new list

[1, 3, 5, 7, 1, 3, 5, 7]

### factorial function

In [36]:
## Recursive function Example:


def factorial(n):
    if n<=0:
        return(1)
    else:
        val=n*factorial(n-1)
        return(val)

In [37]:
factorial(4)

24

### Finding out Factors of number

In [38]:
def factors(n):
    factorlist=[]
    for i in range(1,n+1):
        if n%i==0:
            factorlist= factorlist+[i]
    return(factorlist)

In [39]:
factors(100)

[1, 2, 4, 5, 10, 20, 25, 50, 100]

### Finding number is prime or not

In [48]:
def prime(n):
    return(factors(n)==[1,n])

In [49]:
prime(10)

False

In [50]:
prime(7)

True

In [51]:
# Finding out the prime numbers below that number n
def primesupto(n):
    primelist=[]
    for i in range(1,n+1):
        if prime(i):
            primelist=primelist+[i]
    return(primelist)

In [52]:
primesupto(10)

[2, 3, 5, 7]

In [53]:
## First n Prime numbers:

def nprimes(n):
    (count,i,plist)=(0,1,[])
    while(count<n):
        if prime(i):
            (count,plist)=(count+1,plist+[i])
        i=i+1
    return(plist)

In [54]:
nprimes(20)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]

In [55]:
nprimes(5) # First 5 primes from starting

[2, 3, 5, 7, 11]

### More about range() function

In [67]:
range(0,10)==[0,1,2,3,4,5,6,7,8,9]

False

In [68]:
#bcs range does not give list as output we have to convert it to list using list() function

list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
## type conversion:

str(78) # converting integer 78 to string

'78'

In [70]:
int("78") # converting string to integer

78

In [71]:
int("78x")

ValueError: invalid literal for int() with base 10: '78x'

 Bcs 78x is a string but after conversion we wo'nt get integer as 78x

### List Functions
* append()
* extend()
* remove()

In [72]:
list1=[1,3,5,7]
list2=list1
## Now if you check .. Since list is mutable both lists are same because pointing to same location, 
print(list1)
print(list2)
print(list1 is list2) # To check alocated same memory for both

[1, 3, 5, 7]
[1, 3, 5, 7]
True

###  append()

In [73]:
## using append(): Add values in list without changing the location ie. both list are pointing to same list 
### therefore change occurs in both

list1.append(12)
print(list1)
print(list2)

[1, 3, 5, 7, 12]
[1, 3, 5, 7, 12]

In [74]:
## while if we wd have used concatenation lets check both list now:
list1=[1,3,5,7]
list2=list1
list1=list1+[12] # using concatenation gives a new list

print(list1)
print(list2)

[1, 3, 5, 7, 12]
[1, 3, 5, 7]

###  extend()

In [75]:
list1.extend(1,2,3)

TypeError: extend() takes exactly one argument (3 given)

In [76]:
## becs extend() always takes list as argument:

list1.extend([1,2,3])
list1

[1, 3, 5, 7, 12, 1, 2, 3]

###  remove()

In [77]:
## removes the first occurrence of value..for that there should be atleast one occurrence of value which u r removing

list1.remove(1)

In [78]:
list1

[3, 5, 7, 12, 1, 2, 3]

In [79]:
3 in list1 # called as List membership

True

In [80]:
list1=[1,2,3,4,5,5,6,7,1,2,3,4,3]
list1

[1, 2, 3, 4, 5, 5, 6, 7, 1, 2, 3, 4, 3]

In [81]:
## check first that value is present then remove:

if 3 in list1:
    list1.remove(3)

In [82]:
list1 # First occurrence of 3 removed

[1, 2, 4, 5, 5, 6, 7, 1, 2, 3, 4, 3]

In [83]:
 # For all occurrence of 3 to be removed
    
while 3 in list1:
    list1.remove(3)
list1

[1, 2, 4, 5, 5, 6, 7, 1, 2, 4]

In [84]:
## Factors program using append():

def factors(n):
    flist=[]
    for i in range(1,n+1):
        if n%i==0:
            flist.append(i)
    return(flist)

In [85]:
factors(10)

[1, 2, 5, 10]

## Dictionaries

In [88]:
score={"Dhawan":45,"Kohli":79}
print(score)
print(type(score))

{'Dhawan': 45, 'Kohli': 79}
<class 'dict'>

In [89]:
## Nested Dictionary:

score={"Test1":{"Dhawan":45,"Kohli":79},"Test2":{"Dhawan":83}}

print(score)
print(type(score))

{'Test1': {'Dhawan': 45, 'Kohli': 79}, 'Test2': {'Dhawan': 83}}
<class 'dict'>

In [90]:
## Accessing in Dictionary:

score["Test1"]["Dhawan"]

45

In [91]:
score["Test2"]["Dhawan"]

83

In [92]:
## Dictionary is mutable ie. we can change the value with the help of key;

score["Test2"]["Dhawan"]=50
score

{'Test1': {'Dhawan': 45, 'Kohli': 79}, 'Test2': {'Dhawan': 50}}

In [93]:
# We can also add values inside dictionary by giving key and value name
score["Test2"]["Pujara"]=200
score

{'Test1': {'Dhawan': 45, 'Kohli': 79}, 'Test2': {'Dhawan': 50, 'Pujara': 200}}

In [94]:
score.keys()

dict_keys(['Test1', 'Test2'])

In [95]:
d={}## created an empty dictionary

In [97]:
for l in "abcdefghi":
    d[l]=l

In [98]:
d["a"]

'a'

In [99]:
d["g"]

'g'

In [100]:
d.keys()

dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])

In [101]:
score.values()

dict_values([{'Dhawan': 45, 'Kohli': 79}, {'Dhawan': 50, 'Pujara': 200}])

## Default arguments

In [102]:
int("76")

76

In [103]:
int("76",10)

76

In [104]:
int("A5")

ValueError: invalid literal for int() with base 10: 'A5'

In [105]:
int("A5",16)

165

## Exceptional Handling

### Types of error:
#### 1. NameError

In [106]:
y=5*z

NameError: name 'z' is not defined

#### 2. ZeroDivisionError

In [107]:

y=5/0

ZeroDivisionError: division by zero

#### 3. IndexError

In [108]:
l=[1,2]
l[6]

IndexError: list index out of range

In [ ]:
### Use exceptional handling to deal with errors:

while(True):
    try:
        userdata=input("Enter a number: ")
        usernum=int(userdata)
    except ValueError:
        print("Not a number...Try Again.")
    else:
        break

Enter a number: Ac45
Not a number...Try Again.