## mongoDB with Python

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\lenovo\anaconda3\lib\site-packages (3.11.1)

In [7]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/') #Creating mongodb client

mydb=client['Employee1'] #with the help of mongodb client, creating the Database named:Employee1


info=mydb.EmployeeInfo ## EmployeeInfo is the collection inside Employee1 DB


    
record={"firstname":"Devesh","lastname":"Mishra","department":"Analytics"}

# inserting one record in the json format in the collection named EmployeeInfo

info.insert_one(record)

In [8]:
## insert many records:

records=[{"firstname":"Devesh1","lastname":"Mishra1","department":"Analytic1"},
         {"firstname":"satish","lastname":"Kumar","department":"Analytics2"}]

info.insert_many(records)

In [9]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]
info.insert_many(records)

## Querying json documents :

### 1. Simple way of querying using: find_one() 
Get a single document from the database.

In [10]:
## use the varibale which is referencing to the Employee database.(here that vaiable is info)

info.find_one() # It will give the first record.

{'_id': ObjectId('601ab420c07455f392690a3d'),
 'firstname': 'Devesh',
 'lastname': 'Mishra',
 'department': 'Analytics'}

### 2. find() function :

In [6]:
## It is same as: select * from table

info.find()

In [11]:
for  record in info.find():
    print(record)

{'_id': ObjectId('601ab420c07455f392690a3d'), 'firstname': 'Devesh', 'lastname': 'Mishra', 'department': 'Analytics'}
{'_id': ObjectId('601ab421c07455f392690a3e'), 'firstname': 'Devesh1', 'lastname': 'Mishra1', 'department': 'Analytic1'}
{'_id': ObjectId('601ab421c07455f392690a3f'), 'firstname': 'satish', 'lastname': 'Kumar', 'department': 'Analytics2'}
{'_id': ObjectId('601ab422c07455f392690a40'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('601ab422c07455f392690a41'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('601ab422c07455f392690a42'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('601ab422c07455f392690a43'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [12]:
## I can also use curly braces inside the find( ) function as:

info.find({})

In [13]:
for record in info.find({}):
    print(record)

{'_id': ObjectId('601ab420c07455f392690a3d'), 'firstname': 'Devesh', 'lastname': 'Mishra', 'department': 'Analytics'}
{'_id': ObjectId('601ab421c07455f392690a3e'), 'firstname': 'Devesh1', 'lastname': 'Mishra1', 'department': 'Analytic1'}
{'_id': ObjectId('601ab421c07455f392690a3f'), 'firstname': 'satish', 'lastname': 'Kumar', 'department': 'Analytics2'}
{'_id': ObjectId('601ab422c07455f392690a40'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('601ab422c07455f392690a41'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('601ab422c07455f392690a42'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('601ab422c07455f392690a43'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [17]:
# Printing the records of EmployeeInfo collection in tabular form:

import pandas as pd

inventory_data = [data for data in mydb.EmployeeInfo.find()]
df = pd.DataFrame(inventory_data)
df

                        _id firstname lastname  department qualification   age
0  601ab420c07455f392690a3d    Devesh   Mishra   Analytics           NaN   NaN
1  601ab421c07455f392690a3e   Devesh1  Mishra1   Analytic1           NaN   NaN
2  601ab421c07455f392690a3f    satish    Kumar  Analytics2           NaN   NaN
3  601ab422c07455f392690a40      John      Doe   Analytics    statistics  35.0
4  601ab422c07455f392690a41     John     Smith   Analytics       masters  30.0
5  601ab422c07455f392690a42    Manish      Sen   Analytics           phd  34.0
6  601ab422c07455f392690a43       Ram    Singh   Analytics        master  32.0

### 3. Query the json record based on "Condition" :

In [18]:
# select * from EmployeeInfo collection where firstname='John' :

for record in info.find({"firstname":"John"}):
    print(record)

{'_id': ObjectId('601ab422c07455f392690a40'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}

## Query Operators in mongodb :

### 1. $in operator:

In [19]:
## To get records of employees having qulaification : masters or phd.

for record in info.find({'qualification':{'$in':['masters','phd']}}):
    print(record)

{'_id': ObjectId('601ab422c07455f392690a41'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('601ab422c07455f392690a42'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

### 2. $lt operator:

In [20]:
for record in info.find({'qualification':'masters','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('601ab422c07455f392690a41'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}

### 3. $or operator:

In [22]:
for record in info.find({'$or':[{'firstname':'Devesh'},{'qualification':'phd'}]}):
    print(record)

{'_id': ObjectId('601ab420c07455f392690a3d'), 'firstname': 'Devesh', 'lastname': 'Mishra', 'department': 'Analytics'}
{'_id': ObjectId('601ab422c07455f392690a42'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

### 4. $and operator :

In [24]:
for record in info.find({'$and':[{'firstname':'Manish'},{'qualification':'phd'}]}):
    print(record)

{'_id': ObjectId('601ab422c07455f392690a42'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

In [25]:
for record in info.find({'$and':[{'firstname':'Devesh'},{'qualification':'phd'}]}):
    print(record)
    
## no output because there is no any record which has 'firstname':'Devesh'And 'qualification':'phd'.

## Updating Json documents :
Three main functions for update:
1. pymongo.collection.Collection.update_one()
2. pymongo.collection.Collection.update_many()
1. pymongo.collection.Collection.replace_one()

In [28]:
mydb=client['Employee1'] # After connecting to the Employee1 database
inventory=mydb.inventory #I'm creating a collection named:'inventory'

In [29]:
# Adding records to this inventory table/collection as :

inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

### updation in one record:
1. update_one()

In [30]:
inventory.update_one(
{"item":"sketch pad"},
{"$set":{"size.uom":"m","status":"P"},
"$currentDate":{"lastModified":True}}
)  

## Check in mogodb compass It will be updated there too.

### 2. update_many()

In [31]:
#wherever the quantity size is less than 50 update those many record's size,status, and add one more feature currentDate 

inventory.update_many(
    {"qty": {"$lt": 50}},
    {"$set": {"size.uom": "in", "status": "P"},
     "$currentDate": {"lastModified": True}})

### 3. replace_one()

In [32]:
## In a particular record I can replace the other values.
## Here wherever the item='paper' in the records replace those records with the whole new dataset as below:

## ie.  {"item": "paper","instock": [ {"warehouse": "A", "qty": 60}, {"warehouse": "B", "qty": 40}]})

inventory.replace_one(
    {"item": "paper"},
    {"item": "paper",
     "instock": [
         {"warehouse": "A", "qty": 60},
         {"warehouse": "B", "qty": 40}]})


#If we see in the mongodb compass this item=paper record has been replaced with an array, ie. instock:Array and is replaced.

####
. this is very amazing thing with mongodb that if you want schema to change, 
. It will change quickly as per your requirements.

## Aggregate Functions and groups in mongodb :
1. avg
2. sum
3. project

In [33]:
from pymongo import MongoClient  
    
# creation of object MongoClient 
# This MongoClient will help us to connect us to mongoDB.

client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")  
    
# Access database  
mydatabase = client['Students']  #Students is Database
    
# Access collection of the database  
collection=mydatabase['studentscores']  # studentscores is collection inside the Student Database.

#Creating List of json records:

data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

### collection.aggregate()
1. inside this aggregate() function we will give $group (To group the columns);
2. groups input documents by the specified _id expression and for each distinct grouping, outputs a document. The _id field of each output document contains the unique group by value.

In [34]:
## How many of total subjects are taken by the users ?

## So, For this I have to use an aggregate function, Aggregate usually comes with group by 
# $sum is going to work on this $user to find out how many records are there.
# ie. It will just find out the sum and it is going to replace the value $sum=1.
# _id : It is the unique field ie. object id. and this unique value will be denoting the whole record.

agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [35]:
agg_result

In [36]:
for i in agg_result:
    print(i)

{'_id': 'Amit', 'Total Subject': 3}
{'_id': 'Krish', 'Total Subject': 3}

### dollar sum:
Calculates and returns the sum of numeric values. $sum ignores non-numeric values.

In [37]:
### Calculating the total score based on user:

agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} # here $score whatever value we r giving is referring to score column.
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Amit', 'Total Marks': 235}
{'_id': 'Krish', 'Total Marks': 250}

### dollar avg:
Returns the average value of the numeric values. $avg ignores non-numeric values.

In [38]:
### Calculating the average score based on user:

agg_result=collection.aggregate([
   {
      "$group": {
         "_id": '$user',
         "StudentScoreAverage": { "$avg": "$score" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}
{'_id': 'Krish', 'StudentScoreAverage': 83.33333333333333}

In [39]:
import datetime as datetime

In [40]:
### Create a new collection

data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [41]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2021, 2, 3, 19, 23, 30, 52850)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2021, 2, 3, 19, 23, 30, 52850)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2021, 2, 3, 19, 23, 30, 52850)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2021, 2, 3, 19, 23, 30, 52850)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2021, 2, 3, 19, 23, 30, 52850)}]

In [42]:
# Creating a new collection 'stores'  and inside this stores table/collection im inserting the above data.

mycollection=mydatabase['stores']  
mycollection.insert_many(data)

In [43]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}

### dollar project:
Passes along the documents with the requested fields to the next stage in the pipeline. The specified fields can be existing fields from the input documents or newly computed fields.

It is similar like: select particular column/columns from the table.

In [44]:
### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [45]:
# Access collection of the database  
collection=mydatabase['Books']

In [46]:
collection.insert_many(data)

In [47]:
# It is just like select Book's title and isbn :

for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}