In [1]:
# List Comprehension


# Traditional Way

Vegetable=["Potato","Onion","BottleGaurd"]

Nlist=[]

for i in Vegetable:
     if "P" in i:
         Nlist.append(i)
print(Nlist)

['Potato']

In [5]:
# LC Way:

Vegetable=["Potato","Onion","BottleGaurd"]
Nlist=[i for i in Vegetable if "P" in i]
print(Nlist)

['Potato']

In [31]:
lst1=[3,2,45,23,43]

lst1.sort(reverse=True)

print(lst1)

[45, 43, 23, 3, 2]

In [4]:

lst1=[i for i in Vegetable if i != 'Onion']

In [5]:
lst1

['Potato', 'BottleGaurd']

In [8]:
lst2=[x*x*x for x in [2,3,4]]

In [9]:
lst2

[8, 27, 64]

In [10]:
lst3=[i.upper() for i in 'drishya']

In [11]:
lst3

['D', 'R', 'I', 'S', 'H', 'Y', 'A']

None

In [20]:
# range 

r=range(1,10,2)
r

r1=[i for i in r]
r1

[1, 3, 5, 7, 9]

In [15]:
newlist=[i for i in range(10)]

In [16]:
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
newlist=[i for i in range(10) if i>4]

In [9]:
newlist

[5, 6, 7, 8, 9]

In [10]:
## Copying of List

newlist1=newlist.copy()

In [33]:
newlist1

NameError: name 'newlist1' is not defined

In [13]:
newlist

[5, 6, 7, 8, 9]

In [37]:
lst1=[1,2,3,4]
lst2=[1,2,3,4]

lst1.extend(lst2)
lst1

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
a=list([5, 6, 7, 8, 9])

In [ ]:
## List Assessment 


# clear()

## Tuple

In [14]:
tuple1=[1,2,3,4,5]

In [15]:
type(tuple1)

list

In [44]:
tuple1=(1,2,3,4,5)

In [45]:
type(tuple1)

tuple

In [46]:
# indexing

tuple1[:]

tuple1[1:3]

(2, 3)

In [23]:
tuple1[3]

4

In [24]:
tuple1[3]=5

TypeError: 'tuple' object does not support item assignment

In [25]:
len(tuple1)

5

In [26]:
tuple1[-1]

5

In [27]:
tuple1[1:4]

(2, 3, 4)

In [28]:
# in keyword: Check whether item is present or not

if 2 in tuple1:
    print("2 is present")

2 is present

In [29]:
tuple1

(1, 2, 3, 4, 5)

In [30]:
a=list(tuple1) #converting a tuple into a list to perform some modifications

In [31]:
a

[1, 2, 3, 4, 5]

In [32]:
type(a)

list

In [33]:
a[2]="Devesh"

In [34]:
a.

[1, 2, 'Devesh', 4, 5]

In [39]:
tuple1=tuple(a)

In [40]:
tuple1

(1, 2, 'Devesh', 4, 5)

In [38]:
type(b)

tuple

In [42]:
tuple2=(5,6,7,"Prarthana")
print(tuple1)
print(tuple2)

(1, 2, 'Devesh', 4, 5)
(5, 6, 7, 'Prarthana')

In [43]:
tuple1+tuple2

(1, 2, 'Devesh', 4, 5, 5, 6, 7, 'Prarthana')

In [44]:
tuple1

(1, 2, 'Devesh', 4, 5)

In [45]:
del tuple1

In [46]:
tuple1

NameError: name 'tuple1' is not defined

In [47]:
for i in tuple2:
    print(i)

5
6
7
Prarthana

In [49]:
tuple2.count(1)a

0

In [50]:
tuple2.count(5)

1

In [51]:
tuple2.index()

2

## SET

In [47]:
a={1,2,3,4,4,4}

In [48]:
print(a)

{1, 2, 3, 4}

In [49]:
type(a)

set

In [50]:
len(a)

4

In [51]:
set1={1,2,"Name",1.23}

In [52]:
set1

{1, 1.23, 2, 'Name'}

In [53]:
set1= set([1,2,3,4,5])

In [54]:
set1

{1, 2, 3, 4, 5}

In [55]:
for i in set1:
    print(i)

1
2
3
4
5

In [56]:
set1.add("Pavan")

In [57]:
set1

{1, 2, 3, 4, 5, 'Pavan'}

In [59]:
set2={2,3,4,5,6}

In [60]:
set1.intersection(set2)

{2, 3, 4, 5}

In [61]:
set1

{1, 2, 3, 4, 5, 'Pavan'}

In [62]:
set1.intersection_update(set2)

In [63]:
set1.

{2, 3, 4, 5}

In [70]:
set1

{2, 3, 4, 5}

In [71]:
set1.union(set2)

{2, 3, 4, 5, 6}

## Dictionary

In [64]:
dict1={"name1":"Priya",
       "name2":"Sudhanva",
       23:"ArisGlobal",
       1.29:2300000}

In [65]:
dict1

{'name1': 'Priya', 'name2': 'Sudhanva', 23: 'ArisGlobal', 1.29: 2300000}

In [66]:
type(dict1)

dict

In [67]:
len(dict1)

4

In [68]:
dict1={"car":"BMW", 
       "petrol": False, 
       "year":2020, 
       "colors":["red","blue","black"]
      }

In [69]:
dict1

{'car': 'BMW',
 'petrol': False,
 'year': 2020,
 'colors': ['red', 'blue', 'black']}

In [73]:
print(type(dict1))
print(len(dict1))

<class 'dict'>
4

In [70]:
# Indexing 

dict1["car"]

'BMW'

## Accessing the Dictionary Items

In [75]:
dict1["colors"]

['red', 'blue', 'black']

In [77]:
## get() function

r= dict1.get("colors")
r

['red', 'blue', 'black']

In [79]:
## keys()

k=dict1.keys()
k

dict_keys(['car', 'petrol', 'year', 'colors'])

In [80]:
# values

v=dict1.values()
v

dict_values(['BMW', False, 2020, ['red', 'blue', 'black']])

In [81]:
dict1

{'car': 'BMW',
 'petrol': False,
 'year': 2020,
 'colors': ['red', 'blue', 'black']}

In [82]:
if "car" in dict1:
    print("car keyword is present")

car keyword is present

In [89]:
# update function

dict1.update({"year":2012})
dict1

{'car': 'BMW', 'year': 2012, 'colors': ['red', 'blue', 'black']}

In [90]:
# Add the elements dynamically 
# how to add the elements in dictionary

dict1["model"]="GL6"
dict1

{'car': 'BMW',
 'year': 2012,
 'colors': ['red', 'blue', 'black'],
 'model': 'GL6'}

In [92]:
# pop() and popitems()


# pop(): it will remove the item with specified key

dict1.pop("car")
dict1

{'year': 2012, 'colors': ['red', 'blue', 'black'], 'model': 'GL6'}

In [93]:
# popitem method removes last inserted item

dict1.popitem()

('model', 'GL6')

In [94]:
dict1

{'year': 2012, 'colors': ['red', 'blue', 'black']}

In [95]:
# del 

del dict1

In [97]:
# empty the dictionary : clear()

dict1.clear()

NameError: name 'dict1' is not defined

In [71]:
dict1["colors"]

['red', 'blue', 'black']

In [72]:
dict1["colors"][2]

'black'

In [85]:
# get ( ) function

dict1.get("year")

2020

In [86]:
dict1.keys()

dict_keys(['car', 'petrol', 'year', 'colors'])

In [88]:
dict1.values()

dict_values(['BMW', False, 2020, ['red', 'blue', 'black']])

In [89]:
dict1

{'car': 'BMW',
 'petrol': False,
 'year': 2020,
 'colors': ['red', 'blue', 'black']}

In [90]:
dict1["year"]=2021
print(dict1)

{'car': 'BMW', 'petrol': False, 'year': 2021, 'colors': ['red', 'blue', 'black']}

In [91]:
dict1.items()

dict_items([('car', 'BMW'), ('petrol', False), ('year', 2021), ('colors', ['red', 'blue', 'black'])])

In [94]:
if "car" in dict1:
    print("car key is present")

car key is present

In [97]:
# nested dictionary

dict1={
    "buyername":{"name:John"},
    
    "car":"BMW", 
       "petrol": False, 
       "year":2020, 
       "colors":["red","blue","black"]
       
      }

In [98]:
dict1

{'buyername': {'name:John'},
 'car': 'BMW',
 'petrol': False,
 'year': 2020,
 'colors': ['red', 'blue', 'black']}

## Functions

In [98]:
# Example 1 of function

def fun1():
    a=20
    b=30
    c=a+b
    print(c)
    
fun1()  #calling of a function

50

In [101]:
# Example2  of function

def fun1():
    a=20
    b=30
    c=a+b
    return c

print("Summation of values",fun1())

Summation of values 50

In [101]:
# Example 1 for function with argument

def fun2(name):
    print(name +" Aris Global ")
    
fun2("Bhavya")
fun2("Vishakha")
fun2("Bhavani")

Bhavya Aris Global
Vishakha Aris Global
Bhavani Aris Global

In [102]:
# Example 2
## Function with arguments:

def sum(a,b):
    return a+b


a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))

print("Summation is: ", sum(a,b))



## Required Argument Example

Enter the value of a: 14
Enter the value of b: 24
Summation is:  38

In [3]:
def fun2(name,ag=20):
    print("Name is",name,"and age is", ag)
    
fun2(name="Peter")

# Default argument

Name is Peter and age is 20

## Variable length arguments (*args)

In [103]:
def fun3(*name):
    print("type of passed argument is \n", type(name))
   
    print("passed Arguments are: ")
    
    for i in name:
        print(i)
        
fun3("Pavan","Sudhanva","Priyanka","Sandhya")

type of passed argument is
 <class 'tuple'>
passed Arguments are:
Pavan
Sudhanva
Priyanka
Sandhya

## Keyword Arguments:  **kwargs

In [104]:
def fun4(name,message):
    print("Printing the text with", name, "and ", message)
    
fun4(name="Ryan",message="How are You?")

Printing the text with Ryan and  How are You?

In [17]:
def fruit(**fname):
    print(fname)
    
fruit(b="banana")

fruit(fruit1="Mango",fruit2="Orange")

{'b': 'banana'}
{'fruit1': 'Mango', 'fruit2': 'Orange'}

In [105]:
# Passing a list as an argument

def fun3(color):
    for i in color:
        print(i)

color=["Red","Blue","Green"]
fun3(color)

Red
Blue
Green

In [107]:
# return 

def fun4(n):
    return 2*n

print(fun4(20))
print(fun4(21))

40
42

In [108]:
#pass : Since function definition can noyt be empty but if you want to use even then , you can write pass
# It will avoid getting in any error


def fun2():
    pass

In [110]:
# Recursion:

def rec(k):
    if(k>0):
        r=k+rec(k-1)
        print(r)
    else:
        r=0
    return r
    
print("\n\n Recursion Results: ")


rec(4)

 Recursion Results:
1
3
6
10

10

In [18]:
a=-20.30

In [19]:
abs(a) # absolute value

20.3

## iter()

In [114]:
list1=[1,2,3,4,5]

for i in list1:
    print(i)

1
2
3
4
5

In [115]:
iter_list=iter(list1)

In [116]:
iter_list

In [122]:
print(next(iter_list))

StopIteration:

In [28]:
print(next(iter_list)) # Error after the last element fetched.

StopIteration:

## Lambda function:

In [29]:
a= lambda x : x + 10

print(a)
print("Addition", a(30))

<function <lambda> at 0x0000019CDA6AF940>
Addition 40

In [112]:
## Lambda is mostly used with map()

lst=[1,2,3,4,5]

sqr_lst= list(map(lambda x: x**2, lst))

In [113]:
sqr_lst

[1, 4, 9, 16, 25]

In [36]:
print(sqr_lst)

[1, 4, 9, 16, 25]

In [38]:
def multiplication(a,b):
    return a*b
multiplication(2,3)

6

In [39]:
m= lambda a,b : a*b
print(m(2,3))

6

In [40]:
def fun1(n):
    return lambda i: i*n

double=fun1(2)

In [41]:
print(double(10))

20

In [42]:
tripple=fun1(3)
print(tripple(20))

60

In [50]:
list1=[10,22,37,41,100,123,29]

odd_val= tuple(filter(lambda x: x%3 == 0,list1))

In [51]:
print(odd_val)

(123,)

In [ ]:
#LEAP YEAR

year = int(input('Enter a year: '))
if (year % 400) == 0:
    print('{0} is a leap year'.format(year))
elif (year % 100) == 0:
    print('{0} is not a leap year'.format(year))
elif (year % 400) == 0:
    print('{0} is a leap year'.format(year))
else:
    print('{0} is not a leap year'.format(year))

In [52]:
multiples=[1,2,3,4,5,6,7,8,9,10]
num=int(input('enter num : '))

enter num : 1

In [53]:
output=list(map(lambda number:number*num,multiples))
print(output)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [128]:
# Global Variable & Local Variable

def fun4():
    msg="Hi Everyone"
    a=30
    b=40
    
    print(msg,a,b)
    
fun4()

a





def cal(*args):
    sum=0
    
    for i in args:
        sum=sum+avg
        print("Sum is : ", sum)
        
sum=0
cal(2,3,4)
print("Sum value outside the function")

Hi Everyone 30 40

14

In [54]:
import numpy as np

## OOps Concept in Python

In [1]:
# Class 
# Objects
# --init--()
# self

In [129]:
class Class1:   # Class definition
    a=3

In [130]:
obj=Class1()   #  object , to access that class

In [131]:
obj.a            # we are fetching the value inside that class

3

In [6]:
class Class1:   # Class definition
    a=3

    
obj=Class1() 
obj.a

3

## ___init()___ function
* To assign the values to the objects

In [132]:
class Person:
    def __init__(self, name , age):
        self.name= name
        self.age= age

obj1= Person("ABC",30)
obj1.name

'ABC'

In [133]:
obj1.age

30

In [134]:
class Employee:
    def __init__(self, name, eid):
        self.name=name
        self.eid=eid
        
    def display(self):
        print("Employee name is", self.name)
        print("Employee id is: ", self.eid)
        
        

e1= Employee("Pavan", 101)
e2=Employee("Sandhya", 102)

e2.display()

Employee name is Sandhya
Employee id is:  102

In [16]:
def fun1():
    return 1
fun1()

1

In [135]:
class class1:
    
    def __init__(self):
        
        print("Constructor1 is running")
        
    def __init__(self):
        print("Constructor 2 is running")
        
c1=class1() 

# We don't have the concept of constructor overloading in Python.

Constructor 2 is running

## getattr(), setattr(), delattr(), hasattr()

In [137]:
class Employee1:
    def __init__(self, name, eid, age):
        self.name=name
        self.eid=eid
        self.age=age
        
emp1= Employee1("Sandhya",101, 23)

#emp1.name

getattr(emp1,'name')

'Sandhya'

In [138]:
getattr(emp1,'age')

23

In [139]:
setattr(emp1,'age',22)

In [140]:
getattr(emp1,'age')

22

In [141]:
hasattr(emp1, 'eid')

True

In [142]:
delattr(emp1,'eid')

In [143]:
hasattr(emp1, 'eid')

False

## Inheritance

In [144]:
class Person:
    def __init__(self, fname, lname):
        self.firstname=fname
        self.lastname= lname
        
    def displayname(self):
        print(self.firstname,self.lastname)
        
p1=Person("Krishna","Patil")

p1.displayname()

Krishna Patil

In [145]:
class Employee(Person):
    def __init__(self,fname,lname,joining_yr):
        super().__init__(fname,lname)
        
        self.joining_year=joining_yr
    
    def display(self):
        print(self.firstname,self.lastname, self.joining_year)
        
class depart(Employee):

In [146]:
p1 = Employee("Pavan","Kumar",2021)

p1.display()

Pavan Kumar 2021

## Multi-level Inheritance

In [147]:
class Animal:
    def speak(self):
        print("speak function running")
        
class Dog(Animal):
    def bark(self):
        print("Dog barks")

class Puppy(Dog):
    def drink(self):
        print("puppy drinks milk")

        
p= Puppy()

In [148]:
p.drink()

puppy drinks milk

In [149]:
p.bark()

Dog barks

In [150]:
p.speak()

speak function running

## Multiple Inheritance:

In [151]:
class ArithmeticOperation1:
    def Addition(self,i,j):
        return i+j
    
class ArithmeticOperation2:
    def Multiple(self,i,j):
        return i*j
    
class Derived(ArithmeticOperation1,ArithmeticOperation2):
    def subtract(self,i,j):
        return i-j
    
d=Derived()

In [152]:
d.Addition(10,20)

30

In [153]:
d.Multiple(10,20)

200

In [53]:
d.Multiple(1 * 0/0)

ZeroDivisionError: division by zero

In [154]:
## Python Dates


import datetime

In [155]:
t=datetime.datetime.now()
print(t)

2021-11-19 11:34:36.083485

In [156]:
t.year

2021

In [159]:
t.day

19

In [161]:
t.weekday()

4

In [169]:
## Math Library


n=max(12,2,3,14)

n1=min(12,2,3,14)


#pow

n2=pow(2,3)

import math


n4=math.sqrt(25)

x=math.ceil(1.4)
y=math.floor(1.4)

x1=math.pi

print(n)
print(n1)
print(n2)
print(n4)

print(x)
print(y)
print(x1)

14
2
8
5.0
2
1
3.141592653589793

In [61]:
try:
    print( block)
except NameError:
    print("Give the string in double quotes")
    
except:
    print("There is some other errors")

IndentationError: expected an indented block (<ipython-input-61-454572921700>, line 2)

In [174]:
try:
    print(a1)
except:
    print("a1 is not declared yet")

a1 is not declared yet

In [175]:
try:
    print(a1)
except NameError:
    print("a1 is not declared yet")

except:
    print("some other errors occured")

a1 is not declared yet

In [177]:
try:
    f=open("file1.txt","r")

    
finally:
    print(2+3)
    print("Can't open the file bcs its not present")

5
Can't open the file bcs its not present

FileNotFoundError: [Errno 2] No such file or directory: 'file1.txt'

In [178]:
## raise the exception

n=-2

if n<0:
    raise Exception("Your number is negative")

Exception: Your number is negative

In [181]:
try:
    a=int(input("Enter a"))
    b=int(input("Enter b"))
    c=a/b
    print(c)
    
except:
    print("Can't give zero on denominator ")

Enter a12
Enter b0
Can't give zero on denominator

In [70]:
## String Formating:


#format()

n=20
m="Name"

print("The number is {} ".format(n) )

The number is 20

In [71]:
msg=" The name is {fname}, Age is {age}".format(fname="Priya",age=22)

In [72]:
msg

' The name is Priya, Age is 22'

In [74]:
msg=" The name is {fname}, Age is {age}".format(age=22,fname="Priya")

In [75]:
msg

' The name is Priya, Age is 22'

In [79]:
msg=" The name is {}, Age is {}".format("Priya",22)

In [80]:
msg

' The name is Priya, Age is 22'

In [81]:
import pandas as pd

In [82]:
pd.read_csv("iris.csv")

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [83]:
import numpy as np
lst1=[1,2,3,4,5]
arr=np.array(lst1)
arr

array([1, 2, 3, 4, 5])

In [89]:
arr[3]

4

In [84]:
type(arr)

numpy.ndarray

In [88]:
arr.shape

(5,)

In [85]:

lst2=[1,2,3,4,5]
lst3=[2,3,4,5,6]
lst4=[9,7,6,8,9]
arr1=np.array([lst2,lst3,lst4])
arr1

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [9, 7, 6, 8, 9]])

In [86]:
type(arr1)

numpy.ndarray

In [87]:
arr1.shape

(3, 5)

In [91]:
arr1[2][3]

8

In [92]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])