In [1]:
## Hello World:

print("hello Aris global Tester track batch")

hello Aris global Tester track batch

In [3]:
a=30.00

In [4]:
print(type(a))

float

In [6]:
Name="Priya"
b=20
c=90.03
d="A"



print(Name)
print(b)
print(c)
print(d)

Priya
20
90.03
A

In [8]:
type(Name)

str

In [9]:
type(d)

str

In [10]:
type(c)

float

In [12]:
# type() function is basically to check the type of data in your variables.

In [15]:
a="Name is ABC"
b=a
b

'Name is ABC'

In [8]:
a="Name is ABC"
a[0]='M'

TypeError: 'str' object does not support item assignment

In [16]:
type(b)

str

In [17]:
var='A'
var

'A'

In [18]:
type(var)

str

In [9]:
a=b=c=11 # Multiple value assigning

In [10]:
print("a value: ",a)
print(b)
print(c)

a value:  11
11
11

In [11]:
"""
This is 
Multiple line 
Comment
"""

'\nThis is \nMultiple line \nComment\n'

In [13]:
# typecasting

a=str(4)

b=int(3)

c=float(4)



a

'4'

In [19]:

import random

var=random.randrange(1,1000)
var

9

In [20]:
str1="Hello World"
str1

'Hello World'

In [22]:
# slicing

#str1[ : ] # To get the whole string


str1[2:5] # starting from 2 and ending at 5-1 (n-1).






Hello World

'llo'

In [31]:
str1[ : :2] # last values is step size

'HloWrd'

In [32]:
str1

'Hello World'

In [33]:
str1.upper()

'HELLO WORLD'

In [34]:
str1.lower()

'hello world'

In [44]:

str1="Hello World"
str2=str1.strip()
str2.

len(str1)
len(str2)

11

In [48]:
## Concatenation


str1= "hello"
str2="world!"

str1+" "+str2

'hello world!'

In [49]:
# String Formatting


n=23

msg= "Person name is Bhavya, Her age " + n

msg

TypeError: can only concatenate str (not "int") to str

In [50]:

n=23

msg= "Person name is Bhavya, Her age {} "

print(msg.format(n))

Person name is Bhavya, Her age 23

In [52]:
n=3
m='Cake'
price=50.00

msg= "Drishya wants {} pieces of item {} for {} rupees  "

print(msg.format(n,m,price))

Drishya wants 3 pieces of item Cake for 50.0 rupees

In [55]:
n=3
m='Cake'
price=50.00

msg= "I want to pay {2} rupees for {0} pieces of {1} "

print(msg.format(n,m,price))

I want to pay 50.0 rupees for 3 pieces of Cake

In [56]:
## Boolean Example


print(100>90)
print(100==90)
print(100<90)

True
False
False

In [16]:

def fun1():
    
a=30

IndentationError: expected an indented block (<ipython-input-16-b83f69d87b12>, line 3)

In [57]:
# if else 

a=20
if (a==20):
    print("a is 20")
else:
    print("a is not 20")

a is 20

In [58]:
## Elseif

## elif


n=50
if (n==20):
    print('number is 20')
elif (n==30):
    print('number is 30')
elif(n==500):
    print('number is 500')
else:
    print('number is not 20,30,500');

number is not 20,30,500

## Loops

In [59]:
## For Loop

string1="Boomika"



for i in string1:
    print(i)

B
o
o
m
i
k
a

In [32]:
l1=[1,2,3,4,5]
res=0


for i in l1:
    res=res+i
print(res)

15

In [33]:
## For loop using range() function:


values=range(1,10)
values

range(1, 10)

In [34]:
for i in values:
    print(i)

1
2
3
4
5
6
7
8
9

In [35]:
evenval=range(2,11,2)

for i in evenval:
    print(i)

2
4
6
8
10

In [ ]:
## Find out odd numbers

In [43]:
#nested for loop

a= int(input("Enter rows:"))

for i in range(0,a+1):
    for j in range(i):
        print(1)
    print()

Enter rows:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
## While Loop

i=0
string1='ArisGlobal'


while(len(string1)):
    if string1[i]=='r' or string1[i]=='l':
        i+=1 ## i=i+1
        continue
    print(i)

In [2]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [2]:
i=1
while i<=5:
    i+=1
    if i==3:
        continue
    print(i)

2
4
5
6

## String:

In [3]:
str="Shaima"

for i in str:
    print(i)

S
h
a
i
m
a

In [4]:
print(str[0])
print(str[1])
print(str[2])
print(str[3])
print(str[4])
print(str[5])

S
h
a
i
m
a

In [5]:
str[0]

'S'

In [6]:
str[5]

'a'

In [7]:
str[6]

IndexError: string index out of range

In [8]:
del str[5]

TypeError: 'str' object doesn't support item deletion

In [9]:
list1=[1,2,'Shaima',1.30]
list1

[1, 2, 'Shaima', 1.3]

In [10]:
type(list1[3])

float

In [11]:
## Indexing:


list1[3]

1.3

In [12]:
list1[0]

1

In [13]:
for i in list1:
    print(i)

1
2
Shaima
1.3

In [14]:
list1[0]= 1.3 # Mutability

In [15]:
list1

[1.3, 2, 'Shaima', 1.3]

In [16]:
string="shaima"

In [17]:
string[3]='t'  ## String is immutable

TypeError: 'str' object does not support item assignment

In [18]:
len(list1) # To check the length of the List

4

In [19]:
list1=[1,2,3,4,5,'A']
list2=[1,2,3,4,5,'B']

In [21]:
list1 is list2

False

In [22]:
len(list1) == len(list2)

True

In [24]:

list1=[1,2,3,4,90]
max(list1)

90

In [25]:
list1[0:1] ## Slicing in List

[1]

In [27]:
list1[0:3]

[1, 2, 3]

In [29]:
list1[2:4]

[3, 4]

In [30]:
### Nested List



lst1=[1,2,3,['A','B']]
lst1

[1, 2, 3, ['A', 'B']]

In [31]:
lst1[1]

2

In [32]:
lst1[3]

['A', 'B']

In [33]:
lst1[3][1]

'B'

In [36]:
type(lst1[3][0])

str

In [37]:
type(lst1[3])

list

In [39]:
lst=[ [2,37],4,["Sandhya"]]


lst[0]

[2, 37]

In [40]:
lst[2]

['Sandhya']

In [41]:
lst[2][0]

'Sandhya'

In [42]:
lst[2][0][3]

'd'

In [43]:
lst[:]

[[2, 37], 4, ['Sandhya']]

In [44]:
lst[0:2]

[[2, 37], 4]

In [45]:
lst1=[1,2,3,4]
lst2=[2,6,7,8]


lst3=lst1+lst2

lst3 # Concatenation always gives a new list

[1, 2, 3, 4, 2, 6, 7, 8]

In [46]:
a=list((1,2,3,4,5))

In [47]:
a

[1, 2, 3, 4, 5]

In [48]:
type(a)

list

In [49]:
# [1,2,3,4,5]



a[-1]

5

In [51]:
a[-3] #

3

In [52]:
## insert()

# insert the values at specified position


a.insert(2,"Pavan")

a

[1, 2, 'Pavan', 3, 4, 5]

In [53]:
a.append("Priya")

In [54]:
a

[1, 2, 'Pavan', 3, 4, 5, 'Priya']

In [55]:
a.append("Priya", "Sudhanva")

TypeError: append() takes exactly one argument (2 given)

In [57]:
l1=[1,2,3,4,'ABC']

l2=["Sudhanva","Priya","Shaima"]

l1.extend(l2)

None

In [58]:
print(l1)

[1, 2, 3, 4, 'ABC', 'Sudhanva', 'Priya', 'Shaima']

In [59]:
l1.append(l2)

In [61]:
print(l1)

[1, 2, 3, 4, 'ABC', 'Sudhanva', 'Priya', 'Shaima', ['Sudhanva', 'Priya', 'Shaima']]

In [62]:
## remove ()


l1.remove("ABC")

In [63]:
l1

[1, 2, 3, 4, 'Sudhanva', 'Priya', 'Shaima', ['Sudhanva', 'Priya', 'Shaima']]

In [64]:
l1.pop(7)

['Sudhanva', 'Priya', 'Shaima']

In [65]:
l1

[1, 2, 3, 4, 'Sudhanva', 'Priya', 'Shaima']

In [66]:
## Remove whole list


l1.clear()

In [67]:
l1

[]