## Ineuron Tutorial on PYTHON Basic Data structures

#### Strings

In [2]:
str1='My name is'
str2='Devesh Mishra'
str1+str2

'My name isDevesh Mishra'

In [3]:
str1+" "+str2

'My name is Devesh Mishra'

In [4]:
#if you want to remove the quotes then write this in print()

print(str1)
print(str2)
print(str1+" "+str2)

My name is
Devesh Mishra
My name is Devesh Mishra

In [5]:
name=input("Enter your name :")
print(name)

Enter your name :devesh mishra
devesh mishra

In [6]:
### Add two numbers

a=input("Enter the first number :")
b=input("Enter the second number :")
c=a+b
print("the output is",c)

Enter the first number :12
Enter the second number :23
the output is 1223

In [7]:
a=int(input("Enter the first number :"))
b=int(input("Enter the second number :"))
c=a+b
print("the output is",c)

Enter the first number :20
Enter the second number :21
the output is 41

In [11]:
# string Formatting

first_name=input("Enter your first name :")
last_name=input("Enter your last name :")
print("Your First name is {} and last name is {}.".format(first_name,last_name))

Enter your first name :Devesh
Enter your last name :Mishra
Your First name is Devesh and last name is Mishra.

In [13]:
first_name=input("Enter your first name :")
last_name=input("Enter your last name :")
print("Your First name is {first} and last name is {last}.".format(first=first_name,last=last_name))

print("Your First name is {first} and last name is {last}.".format(last=last_name,first=first_name))

Enter your first name :yash
Enter your last name :mishra
Your First name is yash and last name is mishra.
Your First name is yash and last name is mishra.

In [15]:
## Variable Dynamic Typing

a=10
type(a)

int

In [16]:
a=10.0
type(a)

float

In [17]:
a='Dvesh'
type(a)

str

In [18]:
## Strong Typing

'Devesh'+1

TypeError: can only concatenate str (not "int") to str

In [19]:
'Dvesh'+str(1)

'Dvesh1'

In [20]:
'Devesh'+'1'

'Devesh1'

In [21]:
1+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
1+int('2')

3

## Conditional Statements in Python

### 1. if else statement

In [32]:
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=a-b
print("And the value of c is",c)
print("\n")
if c<0:
    print("The number is negative")
else:
    print("The number is positive")

Enter the value of a: 15
Enter the value of b: 10
And the value of c is 5


The number is positive

In [35]:
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=a-b
print("And the value of c is",c)
print("\n")
if c<0:
    print("The number is negative")
elif c>40:
    print("The difference is huge")
else:
    print("The number is positive")

Enter the value of a: 54
Enter the value of b: 4
And the value of c is 50


The difference is huge

## Basics of Data Structure in Python

In [36]:
# Defining List in different ways:
lst=[1,2,3,'Devesh','Krish']
lst

[1, 2, 3, 'Devesh', 'Krish']

In [38]:
list([1,2,3,'Devesh','Krish'])

[1, 2, 3, 'Devesh', 'Krish']

In [39]:
list((1,2,3,'Devesh','Krish'))

[1, 2, 3, 'Devesh', 'Krish']

In [40]:
## Indexing in String

str1='Devesh'
str1

'Devesh'

In [41]:
str1[2]='k' # str object does not support item assignment
str1

TypeError: 'str' object does not support item assignment

In [42]:
str1='Krish' # But you can change the entire string
str1

'Krish'

In [43]:
# while in List we can replace a particular item, ie. item assignment supported in List
lst1=[1,2,3,'Dev']
lst1

[1, 2, 3, 'Dev']

In [44]:
lst1[3]='Krish' #item assignment supported in List

In [45]:
lst1

[1, 2, 3, 'Krish']