# PYTHON

## Python Basics

### Python Tutorial 1

- DataTypes

### 1.Simple Mathematical operations

In [1]:
10*2

20

In [3]:
10**2  #This is nothing  but 10 to the power 2

100

In [4]:
10*'Dev' #Here the string Dev is repeated 10 times

'DevDevDevDevDevDevDevDevDevDev'

In [1]:
5//3

1

In [2]:
5/3

1.6666666666666667

In [3]:
#Bodmas...............
9+3*8

33

In [8]:
type(1) #To check the type of the data

int

In [9]:
type(1.0)

float

In [10]:
type(True)

bool

In [11]:
type('Devesh')

str

### 2. Strings

In [12]:
'Devesh'

'Devesh'

In [13]:
"Devesh"  #So either u take it as in single quotes or double qoutes It will give u as a string

'Devesh'

In [14]:
type("Devesh") # Either u check type of string with single or double quotes it will work same for both.

str

### 3. Variable Assignment

In [18]:
a=10

In [17]:
type(a)

int

In [19]:
a='Devesh Mishra' #means u don't have to initialize it with like str a = 'Devesh Mishra' and u can check type of this variale a

In [23]:
type(a)

str

In [21]:
print(a)

Devesh Mishra

In [30]:
a=10
b=20
c='Python'
print(a*b)
print(a/b)
print(a%b)
print(c)
print((a/b)+(a%b))  #BODMAS

200
0.5
10
Python
10.5

In [29]:
a=10
b=20
c='Python'
(a*b)
(a/b)
(a%b)
(c)

'Python'

### 4. Various ways of Printing

In [31]:
print("Hello!")

Hello!

In [33]:
#complex Sentences print

first_name='Devesh'
last_name='Mishra'
print("My first name is {} and last name is {}. " .format(first_name,last_name))

My first name is Devesh and last name is Mishra.

In [34]:
print("My first name is {first} and last name is {last}." .format(last=last_name,first=first_name))

My first name is Devesh and last name is Mishra.

In [35]:
len(first_name) #if u want to find out the length of Devesh u can do it with passing the variable name into the len function

6

In [36]:
len('Devesh') #Or u can find out the length of string by just giving that string as a parameter.

6

### 5. Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operations
- Lists
- Comparision Operators
- Dictionaries
- Tuples
- Sets

#### Boolean Variables:

In [38]:
bool() # It is inbuilt function.

False

In [39]:
False

False

In [41]:
True

True

In [43]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [44]:
type(True)

bool

In [47]:
# Example: I am taking a string variable here, and using different different "Boolean Fuctions"

my_str='Devesh Mishra'

my_str.isalnum()

False

In [49]:
my_str='Devesh12'
my_str.isalnum()

True

In [56]:
my_str='Devesh Mishra'
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.istitle())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('a')) #case sensitive, so check it with correct parameter
print(my_str.startswith('D'))

False
False
False
True
False
False
False
True
True

### Lists:

In [57]:
type([]) #That means anything you define inside the squared braces, It is basically a LIST.

list

In [59]:
# Defining the list

lst_Datastructure=[]

type(lst_Datastructure)

list

In [60]:
lst=list()
type(lst)

list

In [61]:
lst=['Math', 'English', 100, 200]

len(lst)

4

#### Inbuilt functions in LIST

#### 1.Append

In [5]:
lst=['Math', 'English', 100, 200] #We have define the list
lst.append('Devesh') #We have append the object 'Devesh'
lst #It will show the LIST

['Math', 'English', 100, 200, 'Devesh']

 #### Indexing in List

In [6]:
lst[:]

['Math', 'English', 100, 200, 'Devesh']

In [7]:
lst[1:]

['English', 100, 200, 'Devesh']

In [8]:
lst[1:4]

['English', 100, 200]

#### 2.Insert

In [22]:
lst1=['Math', 'English', 100, 200, 'Devesh']
lst1.insert(1,'Mishra')
lst1

['Math', 'Mishra', 'English', 100, 200, 'Devesh']

In [23]:
lst1.insert(2,'ME CSE')
lst1

['Math', 'Mishra', 'ME CSE', 'English', 100, 200, 'Devesh']

In [26]:
lst1.append(['Hello','World'])
lst1

['Math',
 'Mishra',
 'ME CSE',
 'English',
 100,
 200,
 'Devesh',
 ['Hello', 'Welcome'],
 ['Hello', 'World']]

#### 3. Extend method

In [27]:
lst=[1,2,3,4,5,6]
lst

[1, 2, 3, 4, 5, 6]

In [28]:
lst.extend([8,9])
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [29]:
# while in insert it was added as nested list

lst.append([8,9])
lst

[1, 2, 3, 4, 5, 6, 8, 9, [8, 9]]

### Various Operations perfomed in LIST

In [30]:
lst=[1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [31]:
sum(lst)

15

In [32]:
lst.pop()

5

In [33]:
lst.pop(1)

2

In [34]:
lst #Remaining list now

[1, 3, 4]

In [43]:
lst1=[1,2,3,4,5]
lst1

[1, 2, 3, 4, 5]

In [44]:
lst1*2 #list repeated 2 times

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Different Functions in LIST

#### 1. Count()

In [35]:
lst=[1,1,2,3,4,5]
lst

[1, 1, 2, 3, 4, 5]

In [36]:
lst.count(1)

2

In [37]:
lst.count(4)

1

#### 2. Index()

In [38]:
lst.index(1)

0

In [39]:
lst.index(1,1,4)

1

In [40]:
min(lst)

1

In [41]:
max(lst)

5

### Sets DataStructure in Python

In [45]:
set1=set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [46]:
#example of set declaration

set1={1,2,3,4,3}
set1

{1, 2, 3, 4}

In [47]:
type(set1)

set

### Inbuilt functions inside sets

In [49]:
set_var={'Ironman','SpiderMan','AntMan'}
set_var

{'AntMan', 'Ironman', 'SpiderMan'}

In [50]:
set_var.add('Batman')
set_var

{'AntMan', 'Batman', 'Ironman', 'SpiderMan'}

In [51]:
set1={1,2,3,4,5}
set2={1,2,3,4,5,6,7,8,9}
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [52]:
###Difference operation in set
set2.difference(set1)

{6, 7, 8, 9}

In [53]:
set2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [57]:
###Difference_update operation in set
set2.difference_update(set1)

In [56]:
set2

{6, 7, 8, 9}

In [59]:
set1={1,2,3,4,5}
set2={1,2,3,4,5,6,7,8,9}
set2.intersection(set1)

{1, 2, 3, 4, 5}

In [62]:
set2.intersection_update(set1)
set2

{1, 2, 3, 4, 5}

### Dictionaries DataStructure in Python

In [63]:
dic={}
type(dic)

dict

In [64]:
dic={1,2,3,4}
type(dic)

set

### Indexing(retrieving in dictionary dataStructure)

In [65]:
my_dict={"car1":"audi","car2":"bmw","car3":"benz"}
type(my_dict)

dict

In [66]:
my_dict

{'car1': 'audi', 'car2': 'bmw', 'car3': 'benz'}

In [67]:
my_dict['car1']

'audi'

In [71]:
for x in my_dict:
    print(x)

car1
car2
car3

In [73]:
for x in my_dict.values():
    print(x)

audi
bmw
benz

In [75]:
for x in my_dict.items():
    print(x)

('car1', 'audi')
('car2', 'bmw')
('car3', 'benz')

In [76]:
# adding new item in dictionary

my_dict['car4']='Audi 2.0'

In [77]:
my_dict

{'car1': 'audi', 'car2': 'bmw', 'car3': 'benz', 'car4': 'Audi 2.0'}

In [78]:
my_dict['car1']='Suzuki'

In [79]:
my_dict

{'car1': 'Suzuki', 'car2': 'bmw', 'car3': 'benz', 'car4': 'Audi 2.0'}

In [ ]:
# Nested Dictionary
car1_model={'mercedes':1960}
car2_model={'Audi': 1980}
car3_model={'Suzuli': 1970}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

In [82]:
print(car_type['car1'])

{'mercedes': 1960}

In [83]:
print(car_type['car1']['mercedes'])

1960

### Tuple Datastructure in Python

In [84]:
#creating a tuple

my_tuple=tuple()
type(my_tuple)

tuple

In [85]:
my_tuple=("Devesh","Priya","Rahul","Mili")
my_tuple

('Devesh', 'Priya', 'Rahul', 'Mili')

In [86]:
#Indexing in Tuple

my_tuple[1]

'Priya'

In [87]:
my_tuple[0]='Kshitij'

TypeError: 'tuple' object does not support item assignment

In [88]:
my_tuple=('Hello','World')
print(my_tuple)

('Hello', 'World')

In [89]:
my_tuple.count('Krish')

0

In [90]:
my_tuple.count('Hello')

1

In [91]:
my_tuple.index('World')

1

#### End of Basics of DataStructures in Python