## Ineuron Tutorial on PYTHON Basic Data structures

#### Strings

In [2]:
str1='My name is'
str2='Devesh Mishra'
str1+str2

'My name isDevesh Mishra'

In [3]:
str1+" "+str2

'My name is Devesh Mishra'

In [4]:
#if you want to remove the quotes then write this in print()

print(str1)
print(str2)
print(str1+" "+str2)

My name is
Devesh Mishra
My name is Devesh Mishra

In [5]:
name=input("Enter your name :")
print(name)

Enter your name :devesh mishra
devesh mishra

In [6]:
### Add two numbers

a=input("Enter the first number :")
b=input("Enter the second number :")
c=a+b
print("the output is",c)

Enter the first number :12
Enter the second number :23
the output is 1223

In [7]:
a=int(input("Enter the first number :"))
b=int(input("Enter the second number :"))
c=a+b
print("the output is",c)

Enter the first number :20
Enter the second number :21
the output is 41

In [11]:
# string Formatting

first_name=input("Enter your first name :")
last_name=input("Enter your last name :")
print("Your First name is {} and last name is {}.".format(first_name,last_name))

Enter your first name :Devesh
Enter your last name :Mishra
Your First name is Devesh and last name is Mishra.

In [13]:
first_name=input("Enter your first name :")
last_name=input("Enter your last name :")
print("Your First name is {first} and last name is {last}.".format(first=first_name,last=last_name))

print("Your First name is {first} and last name is {last}.".format(last=last_name,first=first_name))

Enter your first name :yash
Enter your last name :mishra
Your First name is yash and last name is mishra.
Your First name is yash and last name is mishra.

In [15]:
## Variable Dynamic Typing

a=10
type(a)

int

In [16]:
a=10.0
type(a)

float

In [17]:
a='Dvesh'
type(a)

str

In [18]:
## Strong Typing

'Devesh'+1

TypeError: can only concatenate str (not "int") to str

In [19]:
'Dvesh'+str(1)

'Dvesh1'

In [20]:
'Devesh'+'1'

'Devesh1'

In [21]:
1+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
1+int('2')

3

## Conditional Statements in Python

### 1. if else statement

In [32]:
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=a-b
print("And the value of c is",c)
print("\n")
if c<0:
    print("The number is negative")
else:
    print("The number is positive")

Enter the value of a: 15
Enter the value of b: 10
And the value of c is 5


The number is positive

In [35]:
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=a-b
print("And the value of c is",c)
print("\n")
if c<0:
    print("The number is negative")
elif c>40:
    print("The difference is huge")
else:
    print("The number is positive")

Enter the value of a: 54
Enter the value of b: 4
And the value of c is 50


The difference is huge

## Basics of Data Structure in Python

In [36]:
# Defining List in different ways:
lst=[1,2,3,'Devesh','Krish']
lst

[1, 2, 3, 'Devesh', 'Krish']

In [38]:
list([1,2,3,'Devesh','Krish'])

[1, 2, 3, 'Devesh', 'Krish']

In [39]:
list((1,2,3,'Devesh','Krish'))

[1, 2, 3, 'Devesh', 'Krish']

In [40]:
## Indexing in String

str1='Devesh'
str1

'Devesh'

In [41]:
str1[2]='k' # str object does not support item assignment
str1

TypeError: 'str' object does not support item assignment

In [42]:
str1='Krish' # But you can change the entire string
str1

'Krish'

In [43]:
# while in List we can replace a particular item, ie. item assignment supported in List
lst1=[1,2,3,'Dev']
lst1

[1, 2, 3, 'Dev']

In [44]:
lst1[3]='Krish' #item assignment supported in List

In [45]:
lst1

[1, 2, 3, 'Krish']

#### Complex literals

In [46]:
j= 1.0 - 2.0j

In [47]:
j # Print the complex number

(1-2j)

In [48]:
print(j.real,j.imag)

1.0 -2.0

## LOOPS

### 1. For Loop

In [49]:
lst=[1,2,3,4,5]
len(lst)

5

In [50]:
#sum of all the elements in the list

sum1=0
for i in lst:
    sum1=sum1+i
print(sum1)

15

In [58]:
%%time
## find out the sum of odd numbers and sum of even numbers in the following list
l=[1,3,4,6,7,8,9,2,3,4,5]
sum_even=0
sum_odd=0
for i in l:
    if(i%2==0):
        sum_even=sum_even+i
    else:
        sum_odd=sum_odd+i
print("Sum of even numbers in list",sum_even)
print("Sum of odd numbers in list",sum_odd)

Sum of even numbers in list 24
Sum of odd numbers in list 28
Wall time: 0 ns

In [59]:
## till you get 1 sum all the elements
lst=[4,5,3,6,7,1,2,7,8,9,3,6]
sum1=0
for i in lst:
    if(i==1):
        break
    sum1=sum1+i
print(sum1)

25

In [60]:
lst=[4,5,3,6,7,1,2,7,8,9,3,6]
sum1=0
for i in lst:
    if(i==1):
        break
    sum1=sum1+i
else:
    print("Hello!")
print(sum1)

25

In [61]:
lst=[4,5,3,6,7,2,7,8,9,3,6]
sum1=0
for i in lst:
    if(i==1):
        break
    sum1=sum1+i
else:
    print(sum1)

60

In [21]:
lst=[1,2,3,4,5,6,7]
sum_even=0
sum_odd=0
for i in lst:
    if(i%2==0):
        sum_even=sum_even+i
        if(sum_even>20):
            break
    else:
        sum_odd=sum_odd+i
        if(sum_odd>20):
            break
else:
    print(sum_even)
    print(sum_odd)

12
16

### 2. while Loop

In [23]:
## summation of the first 10 elements (1,2,3,4,5,6,7,8,9,10)

n=10;
i=1
sum1=0
while i<=n:
    sum1=sum1+i
    i=i+1
print(sum1)

55

In [24]:
n=10;
i=1
sum_even=0
sum_odd=0
while i<=n:
    if(i%2==0):
        sum_even=sum_even+i
        i=i+1
    else:
        sum_odd=sum_odd+i
        i=i+1
print(sum_even)
print(sum_odd)

30
25

### The range() function

In [25]:
range(10)

range(0, 10)

In [26]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list(range(0,10,2)) ## step size 2

[0, 2, 4, 6, 8]

In [31]:
# even numbers in First 100 

list(range(0,100,2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [35]:
## Sum of first 1to 100 odd numbers
print(sum(range(1,100,2)))

## Sum of first 1 to 100 even numbers

print(sum(range(0,100,2)))

2500
2450

In [36]:
list(range(100,0,-2))

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

In [37]:
s='Hello world Devesh'
s.split('w')

['Hello ', 'orld Devesh']

In [38]:
s='Devesh'
s.count('e')

2

In [40]:
s.find('D')

0

In [41]:
s.find('e')

1

In [43]:
s.center(20,'o')

'oooooooDeveshooooooo'

### List Comprehension

In [44]:
lst=[1,2,3,4,5,6,7,8,9,10]
lst1=[]
for i in lst:
    lst1.append(i**2)
print(lst1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
# Using list comprehension

lst=[1,2,3,4,5,6,7,8,9,10]
[i**2 for i in lst] ## Using only one linne of code I get the same output

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [46]:
# Find out even numbers using List comprehension:

lst=[1,2,3,4,5,6,7,8,9,10]
[i for i in lst if i%2==0]

[2, 4, 6, 8, 10]

In [47]:
# find sum of even numbers from 1-10 using list comprehension

sum([i for i in lst if i%2==0])

30

## Tuple

In [48]:
t=(1,2,3,'Devesh')
t

(1, 2, 3, 'Devesh')

In [49]:
type(t)

tuple

In [50]:
t[3]

'Devesh'

In [51]:
t[3][0]

'D'

In [52]:
t1=(1,2,3,4,5,"Devesh")
t1[3:]

(4, 5, 'Devesh')

 ### Dictionaries

In [53]:
var={1:'Devesh',2:20,3:"Python"}
var

{1: 'Devesh', 2: 20, 3: 'Python'}

In [55]:
var={1:'Devesh',2:20,3:"Python",1:'Mishra'} # Now the key value 1 will updated by new value ie, Mishra.
var

{1: 'Mishra', 2: 20, 3: 'Python'}

In [56]:
var.values()

dict_values(['Mishra', 20, 'Python'])